In [2]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

In [11]:
cd = gpd.read_file("../../purple-hawk-data/nycd.csv")

In [17]:
cd_essentials = cd.reindex(["BoroCD", "the_geom"], axis=1)

In [21]:
cd_normal = cd_essentials
cd_normal["BoroCD"] = cd_essentials["BoroCD"].astype(str)
cd_normal["borough"] = cd_normal["BoroCD"].str[0]
cd_normal["code"] = cd_normal["BoroCD"].str[1:3]
cd_normal["the_geom"] = cd_normal.the_geom.apply(wkt.loads)

In [24]:
cd_spatial = gpd.GeoDataFrame(cd_normal, geometry="the_geom", crs=4326)

In [29]:
cd_wgs84 = cd_spatial.drop("BoroCD", axis=1)

In [30]:
cd_lift = cd_wgs84.to_crs(2263)

In [31]:
cd_published = pd.DataFrame(
    data={
        "borough": cd_normal["borough"],
        "code": cd_normal["code"],
        "wgs84": cd_wgs84["the_geom"],
        "lift": cd_lift["the_geom"],
    }
)

In [33]:
cd_published.to_csv("../../purple-hawk-data/db-copy/cd_v1.csv", index=False)

In [32]:
cd_published.head()

,borough,code,wgs84,lift
0,3,08,"MULTIPOLYGON (((-73.95829 40.67983, -73.95596 ...","MULTIPOLYGON (((995818.280 186959.985, 996465...."
1,4,14,"MULTIPOLYGON (((-73.90972 40.56529, -73.90973 ...","MULTIPOLYGON (((1009334.367 145238.848, 100933..."
2,2,04,"MULTIPOLYGON (((-73.90269 40.84458, -73.90271 ...","MULTIPOLYGON (((1011174.201 246996.168, 101116..."
3,5,01,"MULTIPOLYGON (((-74.15946 40.64145, -74.15975 ...","MULTIPOLYGON (((939997.095 173013.579, 939915...."
4,4,07,"MULTIPOLYGON (((-73.85255 40.76007, -73.85224 ...","MULTIPOLYGON (((1025098.892 216225.027, 102518..."